@import "tailwindcss";

/* Hide scrollbars but keep scrolling enabled */
::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

/* Smooth scrolling */
html, body {
    scroll-behavior: smooth;
}